    <label>email:</label>
    <%=@user.email %>
    <br>

    <label>introduction:</label>
    <%=@user.introduction %>
    <br>

    <label>area:</label>
    <%=@user.area %>
    <br>

    <label>homepage:</label>
    <%=@user.homepage %>
    <br>

    <label>birthday:</label>
    <%=@user.birthday %>