<h1>Edit Profile</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@user, html: {class: "form-horizontal"}) do |f| %>

      <%= f.label :email %>
      <%=f.text_field :email, class: 'form-control' %>

      <%= f.label :introduction %>      
      <%=f.text_area :introduction, class: 'form-control' %>

      <%= f.label :area %>
      <%=f.text_field :area, class: 'form-control' %>

      <%= f.label :homepage %>
      <%=f.text_field :homepage, class: 'form-control' %>

      <%= f.label :birthday %>
      <%=f.text_field :birthday, class: 'form-control date-picker' %>

      <%=f.submit "Edit my profile" , class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>
