<h1>
  <%= gravatar_for @user %>
  <%= @user.name %>
</h1>

<div class="panel-body">
  email : 
  <%=@user.email %>
  <br>
    introduction :
  <%=@user.introduction %>
  <br>
    area :
  <%=@user.area %>
  <br>
    homepage :
  <%=@user.homepage %>
  <br>
    birthday :
  <%=@user.birthday %>
  <br>
</div>